* {
  margin: 0;
  padding: 0;
}

body {
  width: 70%;
  margin: auto;
}

div.header {
  margin: 30px 0;
  border: #0ac4ff solid 2px;
  border-radius: 3px;
  background: #0ac4ff;
  color: #626363;
  text-align: center;
}

div.empty {
  border: #ff3935 solid 1px;
  border-radius: 3px;
  background-color: #ff3935;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px;
  color: #c90307;
}

.table {
  width: 100%;
  border: #000000 solid 1px;
  background-color: rgb(222, 218, 209);
}
.table thead td {
  background-color: #626363;
  font-weight: bold;
}